/ {
    aliases {
        /* LCD control aliases */
        cmd-data = &cmd_data;
        reset-pin = &reset_sign;

        /* Sensor aliases used by sensor_manager.c */
        lm35 = &lm35_sensor;
        bh1750 = &bh1750_sensor;
        dht11 = &dht11_sensor;

        /* Actuator aliases */
        fan-actuator = &fan_motor;
        irrigation-actuator = &irrigation_motor;
    };

    /* LCD + actuator GPIO container */
    io_pins {
        compatible = "gpio-leds";

        cmd_data: cmd_data {
            gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
            label = "LCD Cmd_Data";
        };

        reset_sign: reset_sign {
            gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
            label = "LCD Reset";
        };

        /* New actuators based on PTC12 and PTC13 */
        fan_motor: fan_motor {
            gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
            label = "Ventilation Motor Control";
        };

        irrigation_motor: irrigation_motor {
            gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
            label = "Irrigation Motor Control";
        };
    };
};


/* --- LCD SPI interface (already working) ----------------------------------- */
&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";

    my_spi_device: spi-device@0 {
        compatible = "vnd,spi-device";
        reg = <0>;                     /* CS0 */
        spi-max-frequency = <1000000>; /* 1 MHz */
    };
};

/* --- LM35 Analog Temperature Sensor ---------------------------------------- */
/* LM35 connected to PTD2 = ADC0_SE6a = ADC0 channel 6 */
&adc0 {
    status = "okay";

    lm35_sensor: lm35 {
        compatible = "lm35";

        /* LM35 output on PTD2 -> ADC0 channel 6 */
        io-channels = <&adc0 6>;

        status = "okay";
        label = "LM35 Temperature Sensor";
    };
};

/* --- BH1750 I2C Light Sensor ------------------------------------------------ */
/* BH1750 connected to I2C0:
 *   SCL = PTE24
 *   SDA = PTE25
 * Sensor address = 0x23 (ADDR pin LOW)
 */
&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    bh1750_sensor: bh1750@23 {
        compatible = "rohm,bh1750";
        reg = <0x23>;      /* Address when ADDR pin = LOW */
        status = "okay";
        label = "BH1750 Light Sensor";
    };
};

/* --- DHT11 Humidity Sensor -------------------------------------------------- */
/* DHT11 connected to PTC3 */
&gpioc {
    status = "okay";

    dht11_sensor: dht11 {
        compatible = "aosong,dht";

        /* Data pin on PTC3 with pull-up enabled */
        dio-gpios = <&gpioc 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        /* No 'dht22' property means this is DHT11 (not DHT22) */
        status = "okay";
        label = "DHT11 Humidity Sensor";
    };
};

&uart3 {
    status = "okay";
    current-speed = <9600>;  // HC-05 típicamente usa 9600
    pinctrl-0 = <&uart3_default>;
    pinctrl-names = "default";
};