
/{
    aliases {
		cmd-data = &cmd_data;
        reset-pin = &reset_sign;
	};
    
    io_pins{
        compatible = "gpio-leds";
		cmd_data: cmd_data {
			gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
			label = "LCD Cmd_Data";
		};

        reset_sign: reset_sign {
			gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
			label = "LCD reset";
		};
    };
};


&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";

    my_spi_device: spi-device@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};


